
#PageFormationMeta {

    .formation-box {
        padding-top: 0px !important;
    }

    .table-container {
    width: 100%;
    overflow: auto;
    border: 0px solid rgba(255, 255, 255, 0.15);
    }
    
    .formation-table {
    border-collapse: collapse;
    width: max-content;
    min-width: 100%;
    }
    
    .formation-table th,
    .formation-table td {
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 8px 12px;
    text-align: center;
    background: #16191C;
    }
    
    .sticky {
    position: sticky;
    background: #16191C;
    z-index: 2;
    }
    
    .sticky.top {
    top: 0;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    }
    
    .sticky.left {
    left: 0;
    }
    
    .sticky.top-left {
    top: 0;
    left: 0;
    z-index: 3; 
    }

}