
#PageHome .media-mfl {
    position: absolute;
    top: 3%;
    right: 8%;
}

#PageHome .media-x {
    position: absolute;
    top: 13%;
    right: 4%;
}

#PageHome .media-discord {
    position: absolute;
    position: absolute;
    top: 23%;
    right: -2%;
}