.MenuTop {
  background-color: var(--lighter-background-color);
  /*background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><polyline points='2,2 6,4 2,6' stroke='rgba(13,202,240,0.05)' stroke-width='1' fill='none'/></svg>");
  background-size: 12px 12px;
  box-shadow: 0 5px 5px -0px rgba(13,202,240,0.2);*/
  border-bottom: 1px solid rgba(255,255,255,0.1);
  min-height: 74px;
}

.MenuTop .nav-link {
  -webkit-transition: font-size .5s, color .3s, transform .3s;
  -moz-transition: font-size .5s, color .3s, transform .3s;
  -o-transition: font-size .5s, color .3s, transform .3s;
  transition: font-size .5s, color .3s, transform .3s;
  color: rgba(255,255,255,0.8);
}

.MenuTop .nav-link:hover {
  color: #0dcaf0;
  transform: scale(1.1);
}

.MenuTop .active {
  font-size: 28px !important;
  color: #0dcaf0;
}