
#MenuPageUser .nav-user {
  background-color: #adb5bd;
  color: #16191C !important;
  font-size: 28px !important;
  cursor: default !important;
}

#MenuPageUser .nav-user span {
  display: inline !important;
}

#MenuPageUser .LoadingSquare {
  width: 100px !important;
  height: 22px !important;
}